# Postgres Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=ecommerce

# PgAdmin Configuration
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Airflow Configuration
AIRFLOW_UID=50000
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_FIRSTNAME=admin
AIRFLOW_LASTNAME=admin
AIRFLOW_EMAIL=admin@admin.com
