# Postgres Configuration
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB

# PgAdmin Configuration
PGADMIN_EMAIL
PGADMIN_PASSWORD

# Airflow Configuration
AIRFLOW_UID
AIRFLOW_USERNAME
AIRFLOW_PASSWORD
AIRFLOW_FIRSTNAME
AIRFLOW_LASTNAME
AIRFLOW_EMAIL
